body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 13px;
  color:#333;
  line-height: 24px;
}

.page-content {
  width: 77.5%;
  float: right;
}

.content-section {
  padding-top: 80px;
  position: relative;
  width: 100%;
  display: inline-block;
  height: auto;
  left: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.section-heading {
  text-align: center;
  position: relative;
  margin-bottom: 60px;
}

.section-heading h1 {
  margin-top: 0px;
  font-size: 32px;
  color: #232323;
  display: inline-block;
  border-bottom: 2px solid #3b5998;
  
}

.section-heading em {
  font-style: normal;
  font-weight: 700;
  color: #45489a;
}

.section-heading p {
  display: inline-block;
  font-size: 15px;
  line-height: 26px;
  color: #343434;
  position: absolute;
  top: 12.5px;
}

.white-button a {
  font-size: 13px;
  font-weight: 600;
  color: #45489a;
  text-transform: capitalize;
  background-color: #fff;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  padding: 0px 25px;
  letter-spacing: 0.25px;
  text-decoration: none;
  transition: all 0.3s;
}

.white-button a:hover {
  background-color: #45489a;
  color: #fff;
}

.accent-button a {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  background-color: #45489a;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  padding: 0px 25px;
  letter-spacing: 0.25px;
  text-decoration: none;
  transition: all 0.3s;
}

.accent-button a:hover {
  background-color: #fff;
  color: #45489a;
}

header {
  position: fixed;
  top: 0;
  transition: top 0.3s ease-in-out;
  width: 100%;
}

.nav-up {
  top: -75px;
}

/* Responsive Navigation */

.responsive-nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 80px;
  background-color: rgba(250, 250, 250, 0.95);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.navbar-toggle {
  position: absolute;
  top: 40%;
  left: 50%;
  display: inline-block;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.navbar-nav {
  margin: 0;
  border: none;
}

#main-nav ul {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: 59px;
  width: 100%;
}
#main-nav ul li {
  margin: 15px 0px;
}
#main-nav ul li:hover {
  background-color: transparent;
}
#main-nav ul li a {
  font-size: 15px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: #45489a;
  box-shadow: none;
  border: none;
}

#main-nav ul li a:hover {
  opacity: 0.5;
  background-color: transparent;
}

.navbar-toggle span {
  background-color: #232323;
}

.sidebar-navigation {
  width: 22.5%;
  float: left;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 50, 0.6);
  z-index: 10;
}

.sidebar-navigation .logo {
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 10px;
  text-align: center;
}

.sidebar-navigation .logo:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 80%;
  padding-top: 10px;
  border-bottom: 1px solid #eee; 
}

.sidebar-navigation nav {
  position: relative;
  top: 60%;
  left: 60%;
  -webkit-transform: translateX(-60%) translateY(-60%);
  -moz-transform: translateX(-60%) translateY(-60%);
  -ms-transform: translateX(-60%) translateY(-60%);
  -o-transform: translateX(-60%) translateY(-60%);
  transform: translateX(-60%) translateY(-60%);
}

.sidebar-navigation ul {
  margin-left: 45px;
  list-style: none;
  padding: 0;
}
.sidebar-navigation li {
  padding: 10px 0;
}
.sidebar-navigation span {
  display: inline-block;
  position: relative;
}
.sidebar-navigation nav a {
  display: inline-block;
  color: #fff;
  margin-top: 5px;
  text-decoration: none !important;
  font-size: 15px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  font-weight: 600;
}
.circle {
  margin-right: 5px;
  height: 10px;
  width: 10px;
  left: 0px;
  top: -1px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #fff;
  transition: all 0.3s;
}
.rect {
  height: 1px;
  width: 0px;
  left: 0;
  bottom: 5.5px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.1s, width 0.6s;
  -moz-transition: -webkit-transform 0.1s, width 0.6s;
  transition: transform 0.1s, width 0.6s;
}
.sidebar-navigation nav a:focus {
  color: #fff;
}
.sidebar-navigation nav a:hover,
nav .active-section {
  color: #fff;
}
.sidebar-navigation nav a:hover span,
nav .active-section span {
  background-color: #ddd;
}
.sidebar-navigation nav .active-section .rect {
  width: 30px;
}
.sidebar-navigation nav .active-section .circle {
  background-color: #fff;
}

.sidebar-navigation .social-icons:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 75%;
  padding-top: 20px;
  border-bottom: 1px solid #eee; 
}

.sidebar-navigation .social-icons {
  position: absolute;
  width: 100%;
  bottom: 10px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.sidebar-navigation .social-icons li {
  display: inline-block;
  margin-right: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.sidebar-navigation .social-icons li:last-child {
  margin-right: 0px;
}

.sidebar-navigation .social-icons li a {
  font-size: 18px;
  color: #fff;
  transition: all 0.5s;
}

.sidebar-navigation .social-icons li a:hover .fa-facebook {
  color: #3b5998;
}
.sidebar-navigation .social-icons li a:hover .fa-youtube {
  color: #c4302b;
}
.sidebar-navigation .social-icons li a:hover .fa-linkedin {
  color: #0e76a8;
}
.sidebar-navigation .social-icons li a:hover .fa-envelope {
  color: #D44638;
}

/* Slider Style */

.slider .content-section {
  padding-top: 0px;
  min-width: 100%;
  min-height: 100vh;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.slider p a {
  color: #fff;
}
.slider p a:hover {
  color: #ff0;
  text-decoration: none;
}

.Modern-Slider .info {
  text-align: right;
  position: absolute;
  z-index: 10;
  top: 50%;
  right: 60px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
}

.Modern-Slider .info h1 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 48px;
  color: #fff;
  font-weight: 700;
}

.Modern-Slider .info p {
  font-size: 15px;
  color: #fff;
}

.Modern-Slider .info .white-button {
  margin-top: 30px;
}

.Modern-Slider .info .white-button a:focus {
  outline: none;
}

.Modern-Slider .slick-dots {
  opacity: 0;
}

.Modern-Slider .NextArrow {
  outline: none;
  display: none;
  position: absolute;
  top: 60px;
  right: 60px;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  border: 0 none;
  margin-top: -22.5px;
  text-align: center;
  font: 32px/50px FontAwesome;
  color: #fff;
  z-index: 5;
}

.Modern-Slider .NextArrow:before {
  content: "\f105";
}

.Modern-Slider .PrevArrow {
  outline: none;
  position: absolute;
  top: 60px;
  right: 120px;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  border: 0 none;
  margin-top: -22.5px;
  text-align: center;
  font: 32px/50px FontAwesome;
  color: #fff;
  z-index: 5;
}

.Modern-Slider .item .image {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  display: block;
}

.Modern-Slider .item-1 .image {
  background-image: url(../img/slide_1.jpg);
}

.Modern-Slider .item-2 .image {
  background-image: url(../img/slide_2.jpg);
}

.Modern-Slider .item-3 .image {
  background-image: url(../img/slide_3.jpg);
}

.Modern-Slider .PrevArrow:before {
  content: "\f104";
}

.Modern-Slider .item .image {
  animation: zoomin 12s ease-in-out infinite alternate;
  -webkit-animation: zoomin 12s ease-in-out infinite alternate;
}

@keyframes zoomin {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
  }
}

.Modern-Slider {
  background: transparent;
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left /* If RTL Make This Right */;
  height: 100%;
  min-height: 1px;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

#aboutus {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 80px;
  border-bottom: 1px solid #eee;
}

#aboutus .content-section {
  display: inline-block;
  position: relative;
}



#aboutus .item {
  text-align: left;
  position: relative;
  z-index: 10;
}

#aboutus .item .text-content {
  padding-top: 20px;
  background-color: #fff;
  position: relative;
  z-index: 10;
}

#aboutus .item .text-content h4 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 21px;
  font-weight: 600;
  color: #232323;
  letter-spacing: 0.5px;
}

#aboutus .item .text-content span {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  color: #7a7a7a;
  letter-spacing: 0.5px;
  margin-bottom: 12.5px;
}
#aboutus h4{
  color: #45489a;
  font-style: initial;

}

#aboutus p{
  text-align: justify;
}

#products {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 50px;
}

#products .masonry {
  position: relative;
  width: 100%;
}

#services {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 80px;
  background-color: #f4f4f4;
}

#services .tabs {
  list-style: none;
  margin: 0px;
  padding: 0px;
  height: 90px;
  width: 100%;
  background-color: #eee;
  border-bottom: 10px solid #45489a;
}

#services .tabs li {
  display: inline-block;
  text-align: center;
  width: 25%;
  float: left;
  margin: 0;
  padding: 0;
}

#services .tabs a {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  color: #232323;
  font-size: 19px;
  line-height: 80px;
  font-weight: 600;
  transition: 0.5s;
}

#services .tabs a:hover {
  color: #45489a;
}

#services .tabs .active:hover {
  color: #fff;
}

#services .tabs .active {
  background-color: #45489a;
  color: #fff;
}

.tabgroup {
  background-color: #f4f4f4;
  padding: 20px 30px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#services .tabgroup ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#services .tabgroup ul li {
  display: inline-block;
  text-align: left;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

#services .tabgroup ul li:last-child {
  border-bottom: none;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

#services .tabgroup ul li img {
  float: left;
  margin-right: 30px;
  max-width: 100%;
  overflow: hidden;
}
#services .tabgroup ul li .text-content {
  display: inline;
}

#services .item .text-content h4 {
  padding-top: 7.5px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 21px;
  font-weight: 600;
  color: #232323;
  letter-spacing: 0.5px;
}

#services .item .text-content p strong {
  color: #45489a;
  font-style: normal !important;
}

#clients {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 80px;
  background-color: #f4f4f4;
}

#partners {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 80px;
}

#contact {
  padding-top: 0px;
  background-color: #f4f4f4;
}

#contact-content {
  padding-top: 80px;
  padding-right: 60px;
  padding-left: 60px;
}

#contact input {
  border-radius: 0px;
  padding-left: 15px;
  font-size: 13px;
  color: #aaa;
  background-color: #f4f4f4;
  border: 1px solid #eee;
  outline: none;
  box-shadow: none;
  line-height: 40px;
  height: 40px;
  width: 100%;
  margin-bottom: 25px;
}

#contact textarea {
  border-radius: 0px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 13px;
  color: #aaa;
  background-color: #f4f4f4;
  border: 1px solid #eee;
  outline: none;
  box-shadow: none;
  height: 200px;
  max-height: 250px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 25px;
}

#contact button {
  font-size: 13px;
  border-radius: 0px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  background-color: #45489a;
  display: inline-block;
  height: 44px;
  line-height: 24px;
  outline: none;
  box-shadow: none;
  width: 100%;
  letter-spacing: 0.25px;
  text-decoration: none;
  transition: all 0.3s;
}

#contact button:hover {
  color: #232323;
  background-color: #f4f4f4;
}

#contact p{
  text-align: center;
  padding: 0px;
  margin: 0px;
}
#contact h4{
  color: #0e76a8;
}
#contact img{
  padding-top: 50px;
}
#contact .col-md-6 {
  margin-bottom: 30px;
}

.footer {
  margin-top: 2px;
  background-color: rgba(12, 12, 12, 0.9);
  display: inline-block;
  text-align: center;
  width: 100%;
}

.footer p {
  margin-bottom: 0px;
  font-size: 13px;
  line-height: 80px;
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: 300;
}
/* Responsive Style */

@media (max-width: 992px) {
  .responsive-nav {
    display: none;
  }

  .sidebar-navigation .logo a {
    font-size: 18px;
  }

  .sidebar-navigation nav a {
    font-size: 13px;
  }

  .sidebar-navigation nav ul {
    margin-left: 30px;
  }

  .sidebar-navigation .social-icons li a {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .responsive-nav {
    display: block;
    height: 60px;
  }

  .page-content {
    width: 100%;
  }

  .Modern-Slider .info {
    text-align: center;
    right: 0px;
    padding: 0px 30px;
  }

  .Modern-Slider .NextArrow {
    outline: none;
    display: none;
    position: absolute;
    top: 120px;
    right: 50%;
    transform: translateX(50%);
    margin-right: -30px;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    border: 0 none;
    text-align: center;
    font: 32px/50px FontAwesome;
    color: #fff;
    z-index: 5;
  }

  .Modern-Slider .NextArrow:before {
    content: "\f105";
  }

  .Modern-Slider .PrevArrow {
    outline: none;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -30px;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    border: 0 none;
    text-align: center;
    font: 32px/50px FontAwesome;
    color: #fff;
    z-index: 5;
  }
}

@media (max-width: 690px) {
  .section-heading p {
    position: relative;
  }

  #aboutus {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  #aboutus .col-md-4 {
    margin-bottom: 25px;
  }

  #products {
    padding-left: 15px;
    padding-right: 15px;
  }

  #video {
    padding-left: 15px;
    padding-right: 15px;
  }

  #clients {
    padding-left: 15px;
    padding-right: 15px;
  }

  #clients .tabs a {
    font-size: 13px;
  }

  #clients .tabgroup ul li img {
    float: none;
    width: 100%;
    margin-bottom: 15px;
  }
  #clients .tabgroup ul li .text-content {
    display: block;
  }

  #contact-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*Changed*/

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.carousel-control {
  width: 8%;
  width: 0px;
}
.carousel-control.left,
.carousel-control.right {
  margin-right: 40px;
  margin-left: 32px;
  background-image: none;
  opacity: 1;
}
.carousel-control > a > span {
  color: white;
  font-size: 29px !important;
}

.carousel-col {
  position: relative;
  min-height: 1px;
  padding: 5px;
  float: left;
}

.active > div {
  display: none;
}
.active > div:first-child {
  display: block;
}

/*xs*/
@media (max-width: 767px) {
  .carousel-inner .active.left {
    left: -50%;
  }
  .carousel-inner .active.right {
    left: 50%;
  }
  .carousel-inner .next {
    left: 50%;
  }
  .carousel-inner .prev {
    left: -50%;
  }
  .carousel-col {
    width: 50%;
  }
  .active > div:first-child + div {
    display: block;
  }
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-inner .active.left {
    left: -50%;
  }
  .carousel-inner .active.right {
    left: 50%;
  }
  .carousel-inner .next {
    left: 50%;
  }
  .carousel-inner .prev {
    left: -50%;
  }
  .carousel-col {
    width: 50%;
  }
  .active > div:first-child + div {
    display: block;
  }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-inner .active.left {
    left: -33%;
  }
  .carousel-inner .active.right {
    left: 33%;
  }
  .carousel-inner .next {
    left: 33%;
  }
  .carousel-inner .prev {
    left: -33%;
  }
  .carousel-col {
    width: 33%;
  }
  .active > div:first-child + div {
    display: block;
  }
  .active > div:first-child + div + div {
    display: block;
  }
}

/*lg*/
@media (min-width: 1200px) {
  .carousel-inner .active.left {
    left: -25%;
  }
  .carousel-inner .active.right {
    left: 25%;
  }
  .carousel-inner .next {
    left: 25%;
  }
  .carousel-inner .prev {
    left: -25%;
  }
  .carousel-col {
    width: 25%;
  }
  .active > div:first-child + div {
    display: block;
  }
  .active > div:first-child + div + div {
    display: block;
  }
  .active > div:first-child + div + div + div {
    display: block;
  }
}

.block {
  width: 306px;
  height: 230px;
}
